.home{
    width: 100%;
    height: 100%;
    background-image: url('Home.png');
    background-size: 100% 100%; /* Sử dụng contain để đảm bảo hình ảnh không bị cắt */
    background-position: center center; /* Căn giữa hình ảnh */
    background-repeat: no-repeat; /* Không lặp lại hình ảnh */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start, .hd{
    width: 160px;
    height: 40px;
    margin-bottom: 25px;
    padding: 10px;
    background-color: #cfebfcc2;
    border-radius: 20px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    color: #277cf2;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.tthd{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1002;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hd1{
    border-radius: 25px;
    height: 75%;
}
.hd2{
    height: 75%;
    border-radius: 25px;
}
.next{
    color: #ffffff;
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 40px;
    border-radius: 30px;
    z-index: 1003;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 40px;

}
.khung{
    z-index: 10;
    width: 350px;
    height: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 35px;
    padding-left: 15px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
}
.khung::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 60px;
    height: 60px;
    border-top: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-top-left-radius: 25px;
}
.khung::after {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    width: 60px;
    height: 60px;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    border-top-right-radius: 25px;

}
/* Góc dưới bên trái */
.khung .bottom-left {
    position: absolute;
    bottom: -2px;
    left: -2px;
    width: 20px;
    width: 60px;
    height: 60px;
    border-bottom: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-bottom-left-radius: 25px;

}
/* Góc dưới bên phải */
.khung .bottom-right {
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 20px;
    width: 60px;
    height: 60px;
    border-bottom: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    border-bottom-right-radius: 25px;

}
.thoat{
    z-index: 1000;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: rgb(0, 234, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
    line-height: 35px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    color: white;
}
.kt{
    z-index: 1000;
    width: 80px;
    height: 35px;
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgb(111, 255, 0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
    line-height: 35px;
    padding-left: 15px;
    font-weight: bold;
    cursor: pointer;
}
#onvideo{
    z-index: 1000;
    width: 70px;
    height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgb(255, 14, 14); 
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    line-height: 35px;
    font-weight: bold;
    cursor: pointer;
    color:#ffffff;
    text-align: center;
}
.kq{
    z-index: 1000;
    position: absolute;
    left: 120px;
    top: 10px;
    background-color: rgb(255, 242, 242);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
    line-height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
}
.cau-hoi{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.ctl{
    display: flex;
    flex-direction: column;
}
.nd-ch{
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid black;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 1); 
}
.da{
    width: 350px;
    background-color: #fbeee0;
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    margin-top: 10px;
    padding: 15px;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.9); 
}
.da:active{
    background-color: #ffffff;
}
.back{
    padding: 10px;
    background-color: #ff0000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    width: 80px;
    color:#ffffff;
}
.thongbao{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #0000004c;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.true{
    width: 270px;
    height: 130px;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-weight: bold;
    transform: scale(0.1); /* Kích thước nhỏ */
    animation: scaleUp 0.4s forwards;
}
@keyframes scaleUp {
    to {
        opacity: 1; /* Hiển thị */
        transform: scale(1); /* Phóng to lên kích thước bình thường */
    }
}
.hientb{
    margin-top: 18px;
    font-size: 20px;
    font-weight: 800;
}
.checktrue{
    font-size: 12px;
    font-weight: 500;
    margin-top: 6px;
    font-weight: 200;
}
.checkmark{
    font-size: 32px;
    color: rgb(255, 255, 255);
    font-weight: 100;

    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 44px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(111, 255, 0);
}
.checkx{
    font-size: 32px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    width: 44px;
    height: 44px;
    line-height: 40px;
    border-radius: 44px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff0000;
}
.d-none{
    display: none;
}

